<div class="card mt-3" >
    <div class="card-header  d-flex justify-content-center align-items-center shadow text-dark">
      <h4>Liste des Articles</h4>
    </div>
  </div>
      <div class="card-body">
      <table class="table">
        <thead>
          <tr>
            <th>Article</th>
            <th>Prix</th>
            <th>Stock</th>
            <th>Categorie</th>
            <th>editer</th>
            <th>supp</th>
          </tr>
        </thead>
        <tbody >
            <tr  id="app-item">
            </tr>
        </tbody>
      </table>
    </div>