<nav class="navbar navbar-expand-lg navbar-light bg-primary ">
    <a class="navbar-brand " href="#">Logo</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse text-dark" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="#"> <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="navbar-brand text-white" href="#" routerLink="" href="#">CATEGORIE</a>
        </li>
        <li class="nav-item">
          <a class="navbar-brand text-white" href="#"routerLink="/articles">ARTICLE DE CONFECTION</a>
        </li>
        <li class="nav-item">
          <a class="navbar-brand text-white" href="#"routerLink="/ventes">ARTICLE DE VENTE</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"></a>
        </li>
      </ul>
    </div>
  </nav>